/* Colors */
:root {
    --color-default: #364d59;
    --color-primary: #feb900;
    --color-secondary: #52565e;
}

/* Smooth scroll behavior */
:root {
    scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: var(--font-default);
    color: var(--color-default);
    overflow-x: hidden;
    /*background: black;*/
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: #ffc732;
    text-decoration: none;
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 140px 0 60px 0;
    min-height: 30vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.breadcrumbs:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    inset: 0;
}

.breadcrumbs h2 {
    font-size: 56px;
    font-weight: 500;
    color: #fff;
    font-family: var(--font-secondary);
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-primary);
}

.breadcrumbs ol a {
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s;
}

.breadcrumbs ol a:hover {
    text-decoration: underline;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #fff;
    content: "/";
}


/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/
.item-table {
    font-size: 14px;
}

.item-table .table thead {
    background: #f6f6fe;
}

.item-table .table thead th {
    border: 0;
}

.item-table .table tbody td {
    vertical-align: middle;
}

.item-table img {
    border-radius: 5px;
    max-width: 60px;
}

tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

tr:active {
    background: linear-gradient(90deg, rgba(160,158,184,1) 1%, rgba(72,72,234,0.7876400560224089) 39%, rgba(0,212,255,1) 100%);    /*background-color: #6c4bc9;*/
}
.item-table .selected {
    background-color: #ffcc99;
}

/**/
.cssForDropdown {
    width: 200px;
    padding: 10px;
    font-size: 13px;
    background-color: #F2F2F2;
    border: 2px solid #DDDDDD;
    color: #333333;
    border-radius: 5px;
}

.cssForDropdown option {
    background-color: #ECECEC;
    color: #333333;
}